<!DOCTYPE html>
<html lang="en">
  <head><title>Completed</title>
    <style>body {margin-left: 50px; margin-top: 80px; width: 800px}</style>
  </head>
  <body>
    <div style="position:relative;height:100px"><img src="img/UoN_Primary_Logo_RGB.png" style="width:200px;position:absolute;right:10px"></div>
    <p>
    عزيزي المشارك ،
    </p>
    <p> 
    شكرا جزيلاً لإكمالك هذا الإستبيان. لقد أكملت الآن المرحلة 
    <٪ = stage٪>
    من الدراسة. سنرسل إليك بريدًا إلكترونيًا للتذكير في غضون أسبوعين مع رابط الإستبيان الجديد للجزء التالي من الدراسة. سيكون إستبيان المتابعة أقصر بكثير من الإستبيان الأول.
    </p>
    <p> 
    لمعرفة المزيد عن الآثار طويلة المدى لمرض فيروس الكورونا *(كوفيد - ١٩) * على حياة الناس اليومية ، فإن مشاركتك في المراحل التالية من الدراسة مهمة جدًا بالنسبة لنا.
    </p>
    <p>
    يتم إجراء هذا البحث من قبل مجموعة دولية من الباحثين. يمكنك التواصل مع فريق الدراسة على:
    <a href="mailto:bahar.tuncgenc@nottingham.ac.uk">bahar.tuncgenc@nottingham.ac.uk</a>.
    المشاركة طوعية تمامًا ، ولديك مطلق الحرية في الإنسحاب في أي وقت دون إبداء أى أسباب. إذا كنت ترغب في سحب إجاباتك من نقطة (نقاط) زمنية سابقة ، يرجى مراسلتنا عبر البريد الإلكتروني بمعرف تسجيل الدخول الخاص بك في غضون أسبوعين من ملء هذا الإستبيان.
    </p>
    <p><b> 
    معرف تسجيل الدخول الخاص بك هو 
    <%= completionCode %>.</b></p>
    <p> 
    إذا كنت بحاجة إلى مساعدة بشأن مرض فيروس الكورونا و / أو أي مشاكل تتعلق بالصحة العقلية ، فيرجى الرجوع إلى توصيات منظمة الصحة العالمية بهذا الشأن 
    <a href="https://www.who.int/health-topics/coronavirus#tab=tab_1" target="_blank">
    فيروس كورونا
    </a> و <a href="https://www.who.int/docs/default-source/coronaviruse/mental-health-considerations.pdf?sfvrsn=6d3578af_2" target="_blank"> 
    الصحة النفسية
    </a> 
    والسلطات الصحية في بلدك.
    </p>
    <p> 
    إذا كان لديك أي شكاوى حول الدراسة ، يرجى التواصل مع : ستيفن جاكسون (رئيس لجنة الأخلاقيات), 
    <a href="mailto:stephen.jackson@nottingham.ac.uk">stephen.jackson@nottingham.ac.uk</a>.</p>
    <p>
    *شكرا جزيلا!*
    </p>
  </body>
</html>
