<div id="consent" style="font-size:16px;margin-top:30px;text-align:left">
<div style="position:relative;height:100px"><img src="img/UoN_Primary_Logo_RGB.png" style="width:200px;position:absolute;right:10px"></div>
<h2>
* العلاقات الإجتماعية والتباعد في مواجهة وباء  كوفيد - ١٩*
</h2>
<p><b>
الميثاق الأخلاقى رقم:
</b> F1248R</p>
<p><b>
الباحثون:
</b>
الدكتورة باهار تونجينتش (جامعة نوتنغهام) ، الأستاذة أوفيليا ديروي (جامعة لودفيغ ماكسيميليان في ميونيخ) ، الدكتور غيوم ديزيكاش (جامعة كليرمون أوفيرني) ، الدكتورة مروة الزين (كلية لندن الجامعية) ، والدكتور يي زاو (جامعة إنديانا)
</p>
<p><b> 
تفاصيل التواصل: 
</b>bahar.tuncgenc@nottingham.ac.uk</p>
<p 
هذه دعوة للمشاركة في دراسة بحثية حول التغيرات السلوكية التي تؤثر على حياتنا اليومية فيما يتعلق بإنتشار فيروس كورونا *(كوفيد - ١٩)*. لتحديد ما إذا كنت ترغب في المشاركة ، يرجى قراءة المعلومات التالية بعناية.
</p>
<p><b> 
ما هو الغرض من هذه الدراسة؟
</b></p>
<p> 
تبحث هذه الدراسة في كيفية تفاعل الناس مع التغييرات في الروتين والسلوك اليومي بسبب تفشي فيروس كورونا (كوفيد - ١٩). إننا نركز بشكل خاص على العوامل الاجتماعية والمعرفية والثقافية التي تؤثر على مشاركة الأشخاص في ممارسة الحفاظ على البعد المادي عن الآخرين. سندرس كيفية تغير ردود فعل الناس تجاه هذه الممارسة بمرور الوقت وعبر الثقافات.
</p>
<p><b> 
ماذا سيحدث إذا وافقت على المشاركة؟
</b></p>
<p> 
سوف تجيب على بعض الأسئلة حول تجربتك لتفشي فيروس الكورونا وممارسة الحفاظ على مسافة بينك وبين الآخرين. سنطرح بعض الأسئلة حول مدى تعرضك للإصابة بفيروس الكورونا وما إذا كان أحد أحبائك مصابًا به. سوف نسأل أيضًا عن تفاعلاتك الإجتماعية وحالتك المزاجية والبدنية. لنتمكن من تتبع كيفية تغير ردود الأشخاص بمرور الوقت، نطلب منك ملء الإستبيان في 6 نقاط زمنية متباعدة عن بعضهما البعض بمقدار إسبوعين. الإستبيان الأول هو الأطول وسيستغرق حوالي 10 دقائق لإكماله. وستكون الإستبيانات التالية تقريباً نصف طول الإستبيان الأول.
</p>
<p> 
يرجى ملاحظة أنك بحاجة إلى إجراء الإستبيان دفعة واحدة ، ولكن يمكنك أخذ فترات إستراحة – فى حال قمت بمغادرة الإستبيان وأردت المتابعة في وقت لاحق ، فسوف تحتاج إلى البدء من البداية. سوف نقوم بإرسال رسائل تذكيرعبر بالبريد الإلكتروني لإستبيانات المتابعة.
</p>
<p><b> 
هل هناك أي مخاطر أو فوائد للمشاركة في هذه الدراسة؟
</b></p>
<p> 
لا نتوقع أن يكون للمشاركة أي نتائج سلبية تتجاوز المخاطر التي تواجهها في الحياة الطبيعية أو أثناء القراءة عن * كوفيد - ١٩*على الإنترنت أو الأخبار. قد تجد بعض الأسئلة حول تفشي فيروس الكورونا مزعجة او غير مريحة. في حالة الشعور بالانزعاج في أي وقت، فلك مطلق الحرية في التوقف دون إبداء أي أسباب (أنظر السؤال التالي).
</p>
<p>
إذا كنت بحاجة إلى مساعدة بشأن مرض فيروس الكورونا و / أو أي مشاكل تتعلق بالصحة العقلية ، فيرجى الرجوع إلى توصيات منظمة الصحة العالمية 
<a href="https://www.who.int/health-topics/coronavirus#tab=tab_1" target="_blank"> 
فيروس كورونا 
</a> و <a href="https://www.who.int/docs/default-source/coronaviruse/mental-health-considerations.pdf?sfvrsn=6d3578af_2" target="_blank">
الصحة النفسية 
</a>.
<p> 
المشاركة ليس لها أى فوائد شخصية فورية ، ولكنك ستساعد العلماء على فهم أفضل لكيفية تأثير جائحة *كوفيد- ١٩ *على حياة الناس.
</p>
<p><b> 
هل يجب علي المشاركة؟
</b></p>
<p> 
المشاركة في هذه الدراسة هو أمر تطوعى تمامًا ولست ملزمًا بالمشاركة. إذا كنت تجد أن تأثير الاستبيان عن جائحة *كوفيد- ١٩ * هو أمر مرهق للغاية ويسبب لك القلق أو الضيق، فيمكنك عدم المشاركة في هذا الإستطلاع. يمكنك أيضًا تخطي بعض الأسئلة عن طريق تحديد خيار" أفضل عدم الإجابة".
</p>
<p>
كما أن لك مطلق الحرية في الإنسحاب في أي وقت قبل أو أثناء الإستبيان. إذا كنت ترغب في الإنسحاب بعد بدء الإستبيان ، فكل ماعليك فعله هو إغلاق نافذة المتصفح وسيتم حذف جميع بياناتك تلقائيًا. إذا كنت ترغب في عدم المشاركة في نقاط زمنية مستقبلية ، فيمكنك بكل بساطة عدم إكمال تلك الإستبيانات. إذا كنت ترغب في سحب ردودك من نقطة (نقاط) زمنية سابقة، يرجى مراسلتنا عبر البريد الإلكتروني بعنوان تسجيل الدخول الخاص بك خلال أسبوعين من ملء هذا الإستبيان. 
</p>
<p><b> 
ماذا يحدث لنتائج الدراسة البحثية؟
</b></p>
<p> 
سيتم عرض النتائج في المؤتمرات والمجلات العلمية وسيتم الاستعانة بها في اتخاذ قرارات سياسية. ستشمل جميع التقارير نتائج التحليلات فقط على مستوى المجموعة. لن يتم التعرف على هويتك في أي من التقارير أو المنشورات تالية. سنقوم بتخزين جميع البيانات في مستودعات الجامعة المحمية بكلمة مرور وفقًا للوائح العامة لحماية البيانات. يمكنك التواصل مع مسؤول حماية البيانات بجامعة نوتينجام للحصول على تفاصيل حول حقوقك تجاه بياناتك على: 
https://www.nottingham.ac.uk/utilities/privacy/privacy.aspx.
بصفتنا مشاركين  عبر الإنترنت في هذا البحث، نحن ملزمون بإعلامك بأنه على الرغم من أننا قمنا باتخاذ جميع التدابير للحفاظ على سرية بياناتك بدقة، هناك دائمًا خطر محتمل من الاختراق من قبل وكلاء خارجيين، على سبيل المثال من خلال القرصنة، وبالتالي إمكانية التعرف على هويتك. 
</p>
<p><b> 
ماذا علي أن أفعل بعد ذلك؟
</b></p>
<p> إذا وافقت على المشاركة ، يرجى الضغط على الزر "متابعة" أدناه وملء نموذج الموافقة. إذا كانت لديك أي أسئلة
أو إستفسارات ، فلا تتردد في طرحها الآن. يمكن أيضًا التواصل معنا بعد مشاركتك على البريد الإلكتروني أعلاه. 
</p>
<p> 
إذا كان لديك أي شكاوى حول الدراسة ، يرجى التواصل مع : ستيفن جاكسون (رئيس لجنة الأخلاقيات)
stephen.jackson@nottingham.ac.uk</p>
<button type="button" id='submit' style="margin-bottom: 20px">
متابعة
</button>
</div>
