<!DOCTYPE html>
<html lang="bn">
  <head><title>Completed</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="margin: 30px">
 <div style="position:relative;height:100px"><img src="img/UoN_Primary_Logo_RGB.png" style="width:200px;position:absolute;right:10px"></div>
    <p>প্রিয় অংশগ্রহণকারী,</p>
    <p>এই জরিপটি সমাপ্ত করার জন্য আপনাকে অনেক ধন্যবাদ। আপনি এই পর্যায়ে জরিপের <%= phase %> শেষ করেছেন। গবেষণার পরবর্তী অংশের জন্য নতুন জরিপের লিঙ্কটি সহ আমরা আপনাকে ২ সপ্তাহের মধ্যে একটি অনুস্মারক (রিমাইন্ডার) ইমেল পাঠাব। পরবর্তী জরিপটি প্রথমটির চেয়ে *অনেক ছোট* হবে।</p>
    <p>মানুষের প্রতিদিনের জীবনে করোনাভাইরাস (কোভিড-১৯) রোগের দীর্ঘমেয়াদী প্রভাব সম্পর্কে জানতে, গবেষণার পরবর্তী পর্যায়ে আপনার অংশগ্রহণ আমাদের পক্ষে অত্যন্ত গুরুত্বপূর্ণ।</p>
    <p>এই গবেষণাটি একদল আন্তর্জাতিক গবেষক পরিচালনা করেছেন। আপনি এখানে গবেষণা দলের সাথে যোগাযোগ করতে পারেন: <a href="mailto:bahar.tuncgenc@nottingham.ac.uk">bahar.tuncgenc@nottingham.ac.uk</a>অংশগ্রহন সম্পূর্ণ ঐচ্ছিক, এবং কোনও কারণ ছাড়াই আপনি যে কোনও মুহূর্তে এটি প্রত্যাহার করতে পারেন। আপনি যদি আগের সময়ের জরিপের পয়েন্ট (গুলি) থেকে আপনার প্রতিক্রিয়া প্রত্যাহার করতে চান তবে দয়া করে জরিপটি পূরণের ২ সপ্তাহের মধ্যে আপনার লগইন আইডি সহ আমাদের ইমেল করুন।</p>
    <p><b>আপনার লগইন আইডি <%= completionCode %>.</b></p>
    <p> করোনাভাইরাস রোগ এবং/অথবা কোনও মানসিক স্বাস্থ্য সমস্যা সম্পর্কে আপনার যদি সহায়তার প্রয়োজন হয় তবে অনুগ্রহ করে বিশ্ব স্বাস্থ্য সংস্থার পরামর্শটি দেখুন <a href="https://www.who.int/health-topics/coronavirus#tab=tab_1" target="_blank"> করোনাভাইরাস </a> এবং <a href="https://www.who.int/docs/default-source/coronaviruse/mental-health-considerations.pdf?sfvrsn=6d3578af_2" target="_blank"> মানসিক সাস্থ্য </a>,এবং আপনার দেশের স্বাস্থ্য কর্তৃপক্ষ। </p>
    <p>গবেষণা সম্পর্কে আপনার যদি কোনও অভিযোগ থাকে তবে অনুগ্রহ করে যোগাযোগ করুন: স্টিফেন জ্যাকসন (এথিক্স কমিটির সভাপতি), <a href="mailto:stephen.jackson@nottingham.ac.uk">stephen.jackson@nottingham.ac.uk</a>.</p>
    <p>*ধন্যবাদ*!</p>
  </body>
</html>
