<!DOCTYPE html>
<html lang="en">
  <head><title>Completed</title>
    <style>body {margin-left: 50px; margin-top: 80px; width: 800px}</style>
  </head>
  <body>
    <div style="position:relative;height:100px"><img src="img/UoN_Primary_Logo_RGB.png" style="width:200px;position:absolute;right:10px"></div>
    <p>亲爱的参与者，</p>
    <p>非常感谢您完成此调查。您现在已经完成了这项研究的第<<%= phase %>阶段。我们将在两周内向您发送一封提醒电子邮件，其中包含下一部分新调查的链接。同第一次调查相比，后续调查的所需时间将会*极大缩短*。</p>
    <p>要了解新冠肺炎（COVID-19）对人们日常生活的长期影响，您的下一阶段调查的参与对于我们非常重要。</p>
    <p>本研究由国际研究人员小组进行。您可以通过以下方式与研究小组联系：<a href="mailto:bahar.tuncgenc@nottingham.ac.uk">bahar.tuncgenc@nottingham.ac.uk</a>。参与此次调查完全是自愿的，您可以随时退出，而无需说明原因。如果您希望撤回您在之前某个时间点填写的问卷，请在填写调查问卷后的2周内，将您的登录ID及请求通过电子邮件发送给我们。</p>
    <p><b>您的登录ID是<%= completionCode %>。</b></p>
    <p>如果您需要有关新冠肺炎和/或任何精神健康问题方面的帮助，请参阅世界卫生组织对<a href="https://www.who.int/health-topics/coronavirus#tab=tab_1" target="_blank">新冠病毒</a>和<a href="https://www.who.int/docs/default-source/coronaviruse/mental-health-considerations.pdf?sfvrsn=6d3578af_2" target="_blank">精神健康方面的建议</a>，还可以向您所在国家/地区的卫生部门寻求帮助。</p>
    <p>如果您有任何关于这项研究的投诉，请联系:斯蒂芬·杰克逊(伦理委员会主席), <a href="mailto:stephen.jackson@nottingham.ac.uk">stephen.jackson@nottingham.ac.uk</a>.</p>
    <p>感谢您！</p>
  </body>
</html>
