<div id="consent" style="width:600px;font-size:16px;margin-top:30px;text-align:left">
<div style="position:relative;height:100px"><img src="img/UoN_Primary_Logo_RGB.png" style="width:200px;position:absolute;right:10px"></div>
<h2>新冠肺炎(COVID-19)大流行下的社交联系与距离</h2>
<p><b>伦理道德认证号：</b> F1248R</p>
<p><b>研究人员：</b>Bahar Tunçgenç博士（诺丁汉大学），Ophelia Deroy教授（路德维希-马克西米利安-慕尼黑大学），Guillaume Dezecache博士（克莱蒙奥弗涅大学），Marwa El Zein博士（伦敦大学），Zhao Yi 博士（印第安纳大学）</p>
<p><b>联系方式：</b>bahar.tuncgenc@nottingham.ac.uk</p>
<p>现诚邀您参加一项研究，探讨新冠病毒爆发(COVID-19)对我们日常生活的影响。要决定是否参加，请仔细阅读以下资料。</p>
<p><b>本研究的目的是什么?</b></p>
<p>本研究着眼于人们如何应对由新冠病毒爆发(COVID-19)引起的日常生活和行为的变化。我们特别关注社会、认知和文化因素对人们参与保持物理距离的实践的影响。我们将研究人们对这种做法的反应如何随着时间的变化和文化背景的不同而变化。</p>
<p><b>如果我同意参加将会如何?</b></p>
<p>您将回答一些关于您在新冠病毒爆发中的经历和与他人保持物理距离的实践问题。一些问题会涉及您对新冠肺炎的易感程度，以及您的亲人是否感染了这种病毒。我们还会询问您的社交互动、情绪和健康。为了能够追踪人们的反应是如何随时间变化的，我们要求您在6个时间点填写调查问卷，这6个时间点之间相隔两周。第一次调查耗时最长，大约需要10分钟来完成。其余的调查将只需大约5分钟来完成。</p>
<p>请注意，您需要一次性完成调查，但您可以中途休息—如果您中途退出调查并希望稍后继续，则需要从头开始填写。我们会发邮件提醒您后续的调查。</p>
<p><b>参加这项研究有什么风险或好处?</b></p>
<p>除了在正常生活中或在互联网及新闻上阅读关于新冠肺炎信息时所遇到的风险外，我们不认为参与调查会产生任何负面后果。您可能会发现一些关于冠状病毒爆发的问题令人苦恼或不安。在任何时候出现任何不适迹象，您都可以无条件停止填写问卷(见下一个问题)。</p>
<p>如果您需要有关新冠肺炎和/或任何精神健康问题方面的帮助，请参阅世界卫生组织对<a href="https://www.who.int/health-topics/coronavirus#tab=tab_1" target="_blank">冠状病毒</a>和<a href="https://www.who.int/docs/default-source/coronaviruse/mental-health-considerations.pdf?sfvrsn=6d3578af_2" target="_blank">精神健康的建议</a>。
<p>参与调查对您没有直接的个人利益，但您将帮助科学家更好地了解新冠肺炎大流行是如何影响人们的生活的。</p>
<p><b>我必须要参加吗?</b></p>
<p>参与本研究完全是自愿的，您没有义务参与。如果您发现新冠肺炎大流行的影响给您带来很大的压力，并引起焦虑或痛苦，您可能不希望参加本次调查。您也可以通过选择“不想回答”选项来跳过一些问题。</p>
<p>您可以在参与调查前或调查期间的任何时间退出。如果您想在开始填写后退出，请关闭您的浏览器窗口，您的所有数据将被自动删除。如果您不希望参与今后的几次调查，只需不完成这些调查。如果您想撤回您在前一个或多个时间点的答案，请在填写问卷后两星期内，连同您的登录ID，通过电子邮件给我们发送撤回请求。</p>
<p><b>研究调查的结果将会如何处理?</b></p>
<p>这些研究结果将在科学会议和出版物上发表，旨在为政策决定提供信息。所有报告将只包括基于群组分析的结果。您的身份将不会在任何后续的报告和出版物中被确认出来。我们会按照《通用数据保护条例》(简称GDPR)的规定，把所有资料储存在受密码保护的大学资料库内。您可以与诺丁汉大学的数据保护官员联系，了解您对您的数据的权利详情，详情见：https://www.nottingham.ac.uk/utilities/privacy/privacy.aspx。作为本调查研究的在线参与者，我们有义务让您意识到，尽管我们已经采取了所有措施来严格保密您的数据，但始终存在外部代理(例如通过黑客攻击)入侵的潜在风险，因此存在身份被认出的可能性。</p>
<p><b>下一步我该做什么?</b></p>
<p>如果您同意参加，请按下面的“参与调查”按钮并填写同意书。如果您有任何疑问，请立即询问。您参与调查后也可通过上述联系方式与我们联系。</p>
<p>如果您有任何关于这项研究的投诉，请联系:斯蒂芬·杰克逊(伦理委员会主席) stephen.jackson@nottingham.ac.uk</p>
<button type="button" id='submit' style="margin-bottom: 20px">参与调查</button>
</div>
