<!DOCTYPE html>
<html lang="en">
<head><title>Completed</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="margin: 30px">
 <div style="position:relative;height:100px"><img src="img/UoN_Primary_Logo_RGB.png" style="width:200px;position:absolute;right:10px"></div>
    <p>Lieber Teilnehmer,</p>
    <p>Haben Sie vielen Dank, dass Sie  diese Umfrage ausgefüllt haben. Sie haben jetzt die Phase <%= phase %> der Studie abgeschlossen. Wir werden Ihnen in 2 Wochen eine Erinnerungsmail mit dem Link zur neuen Umfrage für den nächsten Teil der Studie schicken.</p>
    <p>Um etwas über die langfristigen Auswirkungen der Coronavirus (COVID-19)-Krankheit auf den Alltag der Menschen herauszufinden, ist Ihre Teilnahme an den nächsten Phasen der Studie für uns sehr wichtig.</p>
    <p>Diese Forschung wird von einer internationalen Gruppe von Forschern durchgeführt. Sie können sich an das Studienteam wenden: <a href="mailto:bahar.tuncgenc@nottingham.ac.uk">bahar.tuncgenc@nottingham.ac.uk</a>. Die Teilnahme ist vollkommen freiwillig, und es steht Ihnen frei, jederzeit ohne Angabe von Gründen auszusteigen. Wenn Sie Ihre Antworten von einem oder mehreren früheren Zeitpunk-ten zurückziehen möchten, senden Sie uns bitte innerhalb von 2 Wochen nach dem Ausfüllen dieser Umfrage eine E-Mail mit Ihrer Login-ID.</p>
    <p><b>Ihre Anmelde-ID ist <%= completionCode %>.</b></p>
    <p> Wenn Sie Hilfe bei der Coronavirus-Krankheit und/oder bei Problemen mit der psychischen Gesundheit brauchen, wenden Sie sich bitte an die Weltgesundheitsorganisation (WHO) und die Gesundheitsbehörden in Ihrem Land, um sich über <a href="https://www.who.int/health-topics/coronavirus#tab=tab_1" target="_blank">Coronavirus</a> und <a href="https://www.who.int/docs/default-source/coronaviruse/mental-health-considerations.pdf?sfvrsn=6d3578af_2" target="_blank">mental health</a> zu informieren.</p>
<p>Wenn Sie irgendwelche Beschwerden über die Studie haben, wenden Sie sich bitte an Stephen Jackson (Vorsitzender der Ethikkommission), <a href="mailto:stephen.jackson@nottingham.ac.uk">stephen.jackson@nottingham.ac.uk</a>.</p>
    <p>VIELEN DANK!</p>
    <img style="width:320px" src="img/thankyou/thankyou_en.png"></img>
  </body>
</html>
