<!DOCTYPE html>
 <html lang="en">
   <head><title>Completed</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body style="margin: 30px">
    <div style="position:relative;height:100px"><img src="img/UoN_Primary_Logo_RGB.png" style="width:200px;position:absolute;right:10px"></div>
    <p>Dear participant,</p>
    <p>Thank you very much for completing this survey. You have now completed Phase <%= phase %> of the study. We will send you a reminder email in 2 weeks with the link to the new survey for the next part of the study.</p>
    <p>To learn about the long-term effects of the coronavirus (COVID-19) disease on people’s everyday lives, your participation in the next phases of the study is very important to us.</p>
    <p>This research is conducted by an international group of researchers. You can contact the study team at: <a href="mailto:bahar.tuncgenc@nottingham.ac.uk">bahar.tuncgenc@nottingham.ac.uk</a>. Participation is completely voluntary, and you are free to withdraw at any point without declaring a reason. If you wish to withdraw your responses from a previous time point(s), please email us with your login ID within 2 weeks of filling out that survey.</p>
    <p><b>Your login ID is <%= completionCode %>.</b></p>
    <p>Should you need assistance about the coronavirus disease and/or any mental health issues, please refer to the World Health Organization’s advice on <a href="https://www.who.int/health-topics/coronavirus#tab=tab_1" target="_blank">Coronavirus</a> and <a href="https://www.who.int/docs/default-source/coronaviruse/mental-health-considerations.pdf?sfvrsn=6d3578af_2" target="_blank">mental health</a>, and the health authorities in your country.
    <p>If you have any complaints about the study, please contact: Stephen Jackson (Chair of Ethics Committee), <a href="mailto:stephen.jackson@nottingham.ac.uk">stephen.jackson@nottingham.ac.uk</a>.</p>
    <p>THANK YOU!</p>
    <img style="width:320px" src="img/thankyou/thankyou_en.png"></img>
   </body>
 </html>
