<!DOCTYPE html>
<html>
    <head>
        <title>Experiment</title>
        <script language="javascript" src="libraries/jquery-3.4.1.min.js"></script>
        <script language="javascript" src="libraries/lodash.js"></script>
        <script language="javascript" src="libraries/helper.js"></script>
        <script language="javascript" src="jspsych/jspsych.js"></script>
        <script language="javascript" src="jspsych/plugins/jspsych-instructions.js"></script>
        <script language="javascript" src="jspsych/plugins/jspsych-demographics.js"></script>
        <script language="javascript" src="jspsych/plugins/jspsych-custom-form.js"></script>
        <script language="javascript" src="jspsych/plugins/jspsych-occupation.js"></script>
        <script language="javascript" src="jspsych/plugins/jspsych-table-completion.js"></script>
        <script language="javascript" src="jspsych/plugins/jspsych-survey-likert-customized.js"></script>
        <link href="jspsych/css/jspsych.css" rel="stylesheet" type="text/css"></link>
        <link href="css/experiment.css" rel="stylesheet" type="text/css"></link>
    </head>
    <body>
    </body>
    <script>

    /*
    Set up: define a few experiment variables
    */

    // get the data passed along by app.js
    var input_data = <%- input_data %>
    var trial_id = input_data.trial_id;
    console.log('Rendering trial ', trial_id)
    jsPsych.data.addProperties({trial_id: trial_id});

    var timeline = [];
    var experiment_start_time;
    var data_not_processed = true;
    var dataUrl = '/data?trial_id=' + trial_id;
    var social_network = [];
    var close_network = [{row_name: 'flabs', id:0}, {row_name: 'meep', id:1}];
    // var close_network = [];

    // labels

    var agree_labels = ['Strongly disagree', 'Strongly agree'];
    var advice_labels = ['Not been following the advice at all', 'Been following the advice exactly', 'Been doing more than what is advised']
    var warwick_labels = ['None of the time', 'Rarely', 'Some of the time', 'Often', 'All of the time'];

    // Consent form

    var consent = {
      type: 'external-html',
      url: '../views/consent.html',
      check_fn: function(){
        // start the timer once they've clicked "consent"
        experiment_start_time = Date.now();
        return true;
      },
      cont_btn: 'consent'
    }

    // instructions

    var instructions = {
      type: 'instructions',
      pages: ['Hello, welcome, blah blah blah.'],
      show_clickable_nav: true,
    }

    var social_network_trial = {
      type: 'table-completion',
      add_new: true,
      column_headers: ['First names. Add new rows with "+"', 'face to face', 'video chat', 'phone', 'email', 'text message', 'other'],
      column_icons: true,
      preamble: "Please give the first names of all the people with whom you "+
      "had a conversation in the PAST 7 DAYS, and HOW you interacted with them.",
      instructions: "Please do not include casual contacts, such as interactions with shop workers "+
      "or professionals (e.g., doctors, police, etc.).",
      opt_out: "I did NOT have any conversations other than casual contacts in the past 7 days.",
      on_finish: function(data){
        var responses = JSON.parse(data.responses)
        Object.keys(responses).forEach(function(id){
          if(responses[id].name){
            social_network.push({id: id, row_name: responses[id].name});
          }
        })
      }
    }

    var close_network_trial = {
      type: 'table-completion',
      add_new: false,
      column_headers: ['Names', 'I would turn to this person for advice or comfort'],
      column_vars: ['names', 'comfort'],
      column_icons: false,
      preamble: 'Now, think about whether you would turn to these people if you wanted to seek advice or comfort.',
      row_values: function(){
        return social_network;
      },
      on_finish: function(data){
        var responses = JSON.parse(data.responses)
        Object.keys(responses).forEach(function(id){
          if(responses[id].choices.indexOf('comfort')!=-1){
            console.log('here')
            close_network.push({id: id, row_name: responses[id].name});
          }
        })
        console.log('--->', close_network)
      }
    }

    var close_network_if = {
      timeline: [close_network_trial],
      conditional_function: function(){
        if(social_network.length>0){
          return true;
        } else {
          return false;
        }
      }
    }

    var close_network_followup = {
      type: 'table-completion',
      add_new: false,
      column_headers: ['Names', 'This person and I live in the same household', 'This person and I live in the same country'],
      column_vars: ['names', 'household', 'country'],
      column_icons: false,
      preamble: 'Now, for each person in your close network, answer the following two questions.',
      dependencies: 'household>country',
      row_values: function(){
        return close_network;
      },
    }

    var close_network_followup_if = {
      timeline: [close_network_followup],
      conditional_function: function(){
        if(close_network.length>0){
          return true;
        } else {
          return false;
        }
      }
    }

    function socialNetworkCue(){
      var cue_string = 'Now, think about the actions and beliefs of most of the PEOPLE IN YOUR CLOSE NETWORK (> 80%), and how this advice is implemented where they currently are IN THE PAST 7 DAYS. Please try to answer as accurately as you can. Remember, the people in your close network are: ';

      if(close_network.length>0){
        close_network.forEach(function(d, i){
          if(i>0){
            cue_string += ', '
          }
          cue_string += d.row_name;
        })
        cue_string += '. '
      }
      cue_string += '<br><br>'
      cue_string += 'Please move the slider all the way to the right.'
      return cue_string;
    }

    var compliance = {
      type: 'custom-form',
      preamble: 'The general advice for the coronavirus disease (COVID-19) is to keep physical distance from others.',
      questions: function(){
        var social_network_cue = socialNetworkCue()
        var compliance_cats = ['close_network', 'country', 'world'];
        var compliance_cats_shuffled = jsPsych.randomization.shuffle(compliance_cats);
        var compliance_questions = [
          {type: 'slider',
          cue: 'First, think about YOUR OWN actions and beliefs, and how this advice is implemented where you currently are IN THE PAST 7 DAYS.'+
          '<br><br>'+
          'I have been following this general advice where I live',
          id: 'comply-self',
          labels: advice_labels,
          is_start: true},
          {type: 'slider',
          cue: 'I think that it is wrong not to follow this general advice',
          id: 'ethics-self',
          labels: agree_labels},
        ]
        compliance_cats_shuffled.forEach(function(category){
          if(category=='close_network'){
            compliance_questions.push({type: 'slider',
                cue: social_network_cue,
                id: 'complaince-attention-check',
                labels: advice_labels,
                is_start: true})
            compliance_questions.push({type: 'slider',
                cue: 'Most people in my close network have been following this general advice where they live',
                id: 'complaince-attention-check',
                labels: advice_labels})
            compliance_questions.push({type: 'slider',
                cue: 'Most people in my close network think that it is wrong not to follow this general advice',
                id: 'complaince-attention-check',
                labels: advice_labels})
          }
          if(category=='country'){
            compliance_questions.push({type: 'slider',
                cue: 'Now, think about the actions and beliefs of most of the PEOPLE IN YOUR COUNTRY (> 80%), and how this advice is implemented where they currently are IN THE PAST 7 DAYS. Please try to answer as accurately as you can.'+
                '<br><br>'+
                'Most people in my country have been following this general advice.',
                id: 'comply-country',
                labels: advice_labels,
                is_start: true})
            compliance_questions.push({type: 'slider',
              cue: 'Most people in my country think that it is wrong not to follow this general advice.',
              id: 'ethics-country',
              labels: agree_labels})
          }
          if(category=='world'){
            compliance_questions.push({type: 'slider',
              cue: 'Now, think about the actions and beliefs of most of the people ALL AROUND THE WORLD (> 80%), and how this advice is implemented where they currently are IN THE PAST 7 DAYS. Please try to answer as accurately as you can.'+
              '<br><br>'+
              'Most people all around the world have been following this general advice.',
              id: 'comply-world',
              labels: advice_labels,
              is_start: true})
            compliance_questions.push({type: 'slider',
              cue: 'Most people all around the world think that it is wrong not to follow this general advice.',
              id: 'ethics-world',
              labels: agree_labels})
          }
        })
        return compliance_questions;
      },
    }

    var threat = {
      type: 'custom-form',
      preamble: 'Many people who have contracted the disease do not have an official test result for confirmation. Please answer the below questions to the best of your knowledge.',
      questions: [
        {type: 'slider',
        cue: 'I consider myself to be more vulnerable to the coronavirus disease than the average person:',
        id: 'vulnerable',
        labels: ['Not vulnerable at all', 'As vulnerable as an average person', 'Extremely vulnerable'],
        has_followup: [{id: 'vulnerable_reason', criterion: 50}],
        is_start: true},
        {type: 'select',
        id: 'vulnerable_reason',
        cue: 'Please explain why you think that way.',
        options: ['No medical conditions', '1 condition', '2 conditions', '3 conditions', 'More than 3 conditions', 'Prefer not to say', 'Other'],
        values: ['0', '1', '2', '3', '4+', 'none', 'other'],
        specify: 'other',
        is_followup: true},
        {type: 'slider',
        cue: 'Staying at home due to the coronavirus disease affects me more severely than the average person:',
        id: 'isolation',
        labels: ['Not affected at all', 'As affected as an average person', 'Extremely affected'],
        has_followup: [{id: 'isolation_reason', criterion: 50}],
        is_start: true},
        {type: 'checkbox',
        id: 'isolation_reason',
        cue: 'Please explain why you think that way (select all that apply).',
        options: ['Mental health condition', 'Physical condition', 'Living with someone with a mental health condition', 'Living with someone with a physical condition', 'Lost employment', 'Prefer not to say', 'Other'],
        values: ['mental-self', 'physical-self', 'mental-other', 'physical-other', 'lost-employment', 'none', 'other'],
        specify: 'other',
        is_followup: true},
        {type: 'slider',
        cue: 'I currently have or have had the coronavirus disease:',
        id: 'infected-self',
        labels: ['Definitely false', 'Definitely true'],
        is_start: true,
        has_followup: [{id: 'test-self', criterion: 50}]},
        {type: 'multiple',
        id: 'test-self',
        cue: 'Have you received a positive test result?',
        options: ['Yes', 'No'],
        values: ['yes', 'no'],
        is_followup: true},
        {type: 'slider',
        cue: 'Someone I know has had the coronavirus disease.',
        id: 'infected-others',
        labels: ['Definitely false', 'Definitely true'],
        has_followup: [{id: 'infected-others-number', criterion: 50}, {id: 'test-others', criterion: 50}],
        is_start: true},
        {type: 'select',
        cue: 'How many people?',
        id: 'infected-others-number',
        options: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10+'],
        is_followup: true},
        {type: 'multiple',
        id: 'test-others',
        cue: 'Have they received a positive test result(s)?',
        options: ['No none of them have', 'Some of them have', 'Yes all of them have'],
        values: ['all', 'some', 'none'],
        is_followup: true},
      ]
    }

    var warwick_items = ['I’ve been feeling optimistic about the future.',
    'I’ve been feeling useful.',
    'I’ve been feeling relaxed.',
    'I’ve been feeling relaxed.',
    'I’ve been dealing with problems well.',
    'I’ve been thinking clearly.',
    'I’ve been feeling close to other people.',
    'I’ve been able to make up my own mind about things.',
    'I’ve been feeling depressed.',
    'I’ve been feeling anxious.',
    'I’ve been feeling angry.',
    'I’ve been feeling lonely.']

    var warwick_questions = _.map(warwick_items, function(d,i){
      return {
        name: 'warwick_'+i,
        prompt: d,
        labels: warwick_labels,
        required: true,
      }
    })

    var warwick = {
      type: 'survey-likert',
      questions: warwick_questions,
      preamble: 'Below are some statements about feelings and thoughts. Please tick the box that best describes your experience of each over the LAST WEEK.'
    }
    
    var corona_attitudes = {
      type: 'custom-form',
      preamble: 'Please answer the below questions in the context of the coronavirus (COVID-19) outbreak',
      instructions: 'Some of the questions ask about your opinions and feelings about your country. '+
      'If you feel that answering these questions may compromise your privacy, please feel free to choose the “prefer not to answer” option.',
      questions: [{
        type: 'slider',
        cue: 'Every individual is responsible for themselves if they want to avoid the adverse effects of the disease',
        id: 'self-responsible',
        labels: agree_labels,
        end_line: true},
        {type: 'checkbox',
        cue: 'I believe that the authorities in my country are imposing sufficient measures',
        options: ['Prefer not to answer'],
        id: 'state-sufficient-optout'},
        {type: 'slider',
        id: 'state-sufficient',
        labels: agree_labels,
        end_line: true},
        {type: 'checkbox',
        cue: 'I believe that measures taken in my country are having a positive impact.',
        options: ['Prefer not to answer'],
        id: 'state-positive-optout'},
        {type: 'slider',
        id: 'state-positive',
        labels: agree_labels,
        end_line: true},
        {type: 'slider',
        cue: 'Since the outbreak escalated, I have increased my involvement with groups and organisations to help others.',
        id: 'involvement',
        labels: agree_labels,
        end_line: true},
        {type: 'slider',
        cue: 'At times like this, it is essential that people work in solidarity to look after each other',
        id: 'solidarity',
        labels: agree_labels,
        end_line: true},
        {type: 'checkbox',
        cue: 'I trust that authorities in my country are knowledgeable about what to do about the disease.',
        options: ['Prefer not to answer'],
        id: 'state-knowledgeable-optout'},
        {type: 'slider',
        id: 'state-knowledgeable',
        labels: agree_labels,
        end_line: true},
        {type: 'slider',
        cue: 'Since the outbreak escalated, I have been focused on what I can do to protect myself.',
        id: 'self-protect',
        labels: agree_labels,
        end_line: true},
        {type: 'slider',
        cue: 'I believe that my actions are having a positive effect.',
        id: 'self-positive',
        labels: agree_labels,
        end_line: true},
        {type: 'slider',
        cue: 'I feel equipped with the information I need on what to do about the disease.',
        id: 'self-informed',
        labels: agree_labels,
        end_line: true},
        {type: 'checkbox',
        cue: 'I support the COVID-19 policies applied in my country',
        options: ['Prefer not to answer'],
        id: 'support-optout',
        end_line: false,},
        {type: 'slider',
        id: 'support',
        labels: agree_labels,
        end_line: true,},
        {type: 'slider',
        cue: 'At times like this, each individual should do whatever is needed to look after themselves.',
        id: 'others-responsible',
        labels: agree_labels,
        end_line: true},
        {type: 'slider',
        cue: 'It is primarily the state’s responsibility to protect people against the disease.',
        id: 'state-responsible',
        labels: agree_labels,
        end_line: true},
        {type: 'slider',
        cue: 'Since the outbreak, how much have you been going out?',
        id: 'going-out',
        labels: ['Much less than usual', 'About the same as usual', 'Much more than usual'],
        end_line: true},
      ]
    }

    var circle_distances = [1, 0.84, 0.66, 0.5, 0];
    function generateCircles(distances, label1, label2){
      var width = 120;
      var height = 120;
      var base_1 = width/3;
      var base_2 = 2*width/3;
      var base_distance = width/3;
      var circle_ratio = 0.4;
      var options = []
      distances.forEach(function(distance,i){
        var position_1 = base_1 + base_distance*(1-distance)/2
        var position_2 = base_2 - base_distance*(1-distance)/2
        var text_1_y = 5;
        var text_2_y = height-5;
        options.push('<div style="height:'+height+'px; width:'+width+'px"><svg>'+
        '<text x="'+position_1+'", y="'+text_1_y+'" dominant-baseline="hanging" text-anchor="middle" fill="blue" font-size="14">'+label1+'</text>'+
        '<text x="'+position_2+'", y="'+text_2_y+'" dominant-baseline="baseline" text-anchor="middle" fill="red" font-size="14">'+label2+'</text>'+
        '<circle cx="'+position_1+'" cy="'+height/2+'" r="'+base_distance*circle_ratio+'" fill="blue" fill-opacity="0.4"/>'+
        '<circle cx="'+position_2+'" cy="'+height/2+'" r="'+base_distance*(1-circle_ratio)+'" fill="red" fill-opacity="0.4"/>'+
        '</svg></div>')
      })
      return options;
    }

    var ios_string_country = generateCircles(circle_distances, 'You', 'Your country');
    var ios_string_gvmt = generateCircles(circle_distances, 'You', 'Your government');

    var general_attitudes = {
      type: 'custom-form',
      preamble: 'Please answer the below questions based on how you think and feel GENERALLY.',
      instructions: 'If you feel that answering the following questions may compromise your privacy, please feel free to choose the “prefer not to answer” option.',
      questions: [
        {type: 'slider',
        cue: 'I am concerned by the amount of influence that scientists have in society.',
        id: 'scientists-influence-R',
        labels: agree_labels,
        end_line: true},
        {type: 'slider',
        cue: 'People trust scientists much less than they should.',
        id: 'scientists-trust',
        labels: agree_labels,
        end_line: true},
        {type: 'checkbox',
        cue: 'Think about how close you feel to the country you are currently living in, and choose one of the 5 options below. The two circles representing you and your country vary in how close they are to each other.',
        id: 'ios-country-optout',
        options: ['Prefer not to answer']},
        {type: 'multiple',
        id: 'ios-country',
        options: ios_string_country,
        values: ['1', '0.75', '0.5', '0.25', '0'],
        end_line: true},
        {type: 'checkbox',
        cue: 'Think about how close you feel to the government of the country you are currently living in, and choose one of the 7 options below. The two circles representing you and your government vary in how close they are to each other.',
        id: 'ios-gvmt-optout',
        options: ['Prefer not to answer']},
        {type: 'multiple',
        id: 'ios-gvmt',
        options: ios_string_gvmt,
        values: ['1', '0.75', '0.5', '0.25', '0'],
        end_line: true},
        {type: 'slider',
        id: 'ideology',
        cue: 'What is your political self-identification?',
        labels: ['Very liberal', 'Very conservative']},
        {type: 'checkbox',
        id: 'ideology-optout',
        options: ['Does not apply to my political views', 'Prefer not to say'],
        value: ['NA', 'None'],
        end_line: true},
        {type: 'slider',
        cue: 'I would sacrifice an activity that I enjoy very much if my family did not approve of it.',
        id: 'vertical-0',
        labels: agree_labels,
        end_line: true},
        {type: 'slider',
        cue: 'I would do what would please my family, even if I detested that activity.',
        id: 'vertical-1',
        labels: agree_labels,
        end_line: true},
        {type: 'slider',
        cue: 'Before taking a major trip, I consult with most members of my family and many friends.',
        id: 'vertical-2',
        labels: agree_labels,
        end_line: true},
        {type: 'slider',
        cue: 'I usually sacrifice my self-interest for the benefit of my group.',
        id: 'vertical-3',
        labels: agree_labels,
        end_line: true},
        {type: 'slider',
        cue: 'Children should be taught to place duty before pleasure.',
        id: 'vertical-4',
        labels: agree_labels,
        end_line: true},
        {type: 'slider',
        cue: 'I hate to disagree with others in my group.',
        id: 'vertical-5',
        labels: agree_labels,
        end_line: true},
        {type: 'slider',
        cue: 'We should keep our aging parents with us at home.',
        id: 'vertical-6',
        labels: agree_labels,
        end_line: true},
        {type: 'slider',
        cue: 'Children should feel honoured if their parents receive a distinguished award.',
        id: 'vertical-7',
        labels: agree_labels,
        end_line: true},
      ]
    }

    var demographics = {
      type: 'demographics',
    }

    var occupation = {
      type: 'occupation'
    }

    /*
    Add trials to the timeline
    */

    // timeline.push(instructions);

    // timeline.push(social_network_trial);
    // timeline.push(close_network_if);
    // timeline.push(close_network_followup_if);

    timeline.push(compliance);

    timeline.push(threat);
    timeline.push(warwick);

    timeline.push(corona_attitudes);
    timeline.push(general_attitudes);

    // timeline.push(vertical_collectivism);
    // timeline.push(eq);
    timeline.push(demographics);
    timeline.push(occupation);
    // timeline.push(email);


    /*
    Have jsPsych display the experiment timeline
    */

    jsPsych.init({
        // uncomment if you need to preload anything that isn't a stim in an existing jspsych plugin
        // preload_images: [],
        default_iti: 500,
        show_progress_bar: true,
        exclusions: {
          min_width: 800,
          min_height: 500
        },
        experiment_width: 800,
        timeline: timeline,
        on_finish: function(){
          console.log('Experiment completed...')
          var data = helper.prepareData(experiment_start_time);
          helper.save(data, dataUrl, trial_id);
        }
    });

    </script>
</html>
