<!DOCTYPE html>
<html>
    <head>
        <title>Experiment</title>
        <script language="javascript" src="libraries/jquery-3.4.1.min.js"></script>
        <script language="javascript" src="libraries/lodash.js"></script>
        <script language="javascript" src="libraries/helper.js"></script>
        <script language="javascript" src="jspsych/jspsych.js"></script>
        <script language="javascript" src="jspsych/plugins/jspsych-instructions.js"></script>
        <script language="javascript" src="jspsych/plugins/jspsych-demographics.js"></script>
        <script language="javascript" src="jspsych/plugins/jspsych-custom-form.js"></script>
        <script language="javascript" src="jspsych/plugins/jspsych-occupation.js"></script>
        <script language="javascript" src="jspsych/plugins/jspsych-table-completion.js"></script>
        <script language="javascript" src="jspsych/plugins/jspsych-survey-likert-customized.js"></script>
        <script language="javascript" src="jspsych/plugins/jspsych-survey-text.js"></script>
        <script language="javascript" src="jspsych/plugins/jspsych-survey-multi-select-customized.js"></script>
        <script language="javascript" src="jspsych/plugins/jspsych-external-html.js"></script>
        <link href="jspsych/css/jspsych.css" rel="stylesheet" type="text/css"></link>
        <link href="css/experiment.css" rel="stylesheet" type="text/css"></link>
    </head>
    <body>
    </body>
    <script>

    /*
    Set up: define a few experiment variables
    */

    // get the data passed along by app.js
    var input_data = <%- input_data %>
    var trial_id = input_data.trial_id;
    var phase = input_data.phase;
    var next_phase = phase+1;
    console.log('Rendering trial ', trial_id)
    jsPsych.data.addProperties({trial_id: trial_id});

    var timeline = [];
    var experiment_start_time;
    var data_not_processed = true;
    var dataUrl = '/data?trial_id=' + trial_id;
    var social_network = [];
    // var close_network = [{row_name: 'flabs', id:0}, {row_name: 'meep', id:1}];
    var close_network = [];

    // labels

    var agree_labels = ['Completely disagree', 'Completely agree'];
    var agree_likert = [' ', 'Strongly disagree', 'Slightly disagree', 'Slightly agree', 'Strongly agree']
    var morality_labels = ['Not following general advice is completely ok', 'Not following general advice is completely wrong'];
    var advice_labels = ['Not been following the advice at all', 'Been following the advice exactly', 'Been doing more than what is advised']
    var wembs_labels = ['', 'None of the time', 'Rarely', 'Some of the time', 'Often', 'All of the time'];
    var vulnerable_labels = ['Not vulnerable at all', 'As vulnerable as an average person', 'Extremely vulnerable'];
    var infected_labels = ['Definitely did not have', 'Definitely had'];
    var vertical_collectivism_labels = ['', 'Never', '', '', '', '', '', '', '', 'Always']

    // Consent form

    var information = {
      type: 'external-html',
      url: '../views/consent.html',
      check_fn: function(){
        // start the timer once they've clicked "consent"
        experiment_start_time = Date.now();
        return true;
      },
      cont_btn: 'consent'
    }

    // instructions

    var consent = {
      type: 'custom-form',
      preamble: 'SOCIAL TIES AND DISTANCING IN THE FACE OF THE COVID-19 PANDEMIC',
      instructions: 'ETHICS APPROVAL NUMBER: F1248R<br>'+
      'RESEARCHERS:  Dr Bahar Tunçgenç (University of Nottingham), Prof. Ophelia Deroy (Ludwig Maximillian University of Munich), Dr Guillaume Dezecache (University of Clermont Auvergne), Dr Marwa El Zein (University College London), Dr Yi Zhao (Indiana University)<br>'+
      'CONTACT DETAILS: Dr. Bahar Tunçgenç at bahar.tuncgenc@nottingham.ac.uk',
      questions: [
        {type: 'checkbox',
        cue: 'By clicking the button below, I indicate that the study has been explained to me to my satisfaction, and I agree to take part. I understand that I am free to withdraw at any time simply by clicking out of my browser window:',
        id: 'consent',
        columns: 1,
        force_all: true,
        options: ['I give permission for my data from this study to be shared with other researchers provided that my anonymity is completely protected.',
                  'I understand that the survey platform offers services that are compliant with the General Data Protection Regulation (GDPR) and Health Insurance Portability and Accountability Act (HIPAA). While every reasonable effort has been taken to preserve my confidentiality, due to the online nature of this study, there may be a potential risk of intrusion by outside agents, such as through hacking or data storage in server logs beyond the timeframe of this research project.',
                 ],
        values: [0, 1]}
      ],
      submit: 'TAKE ME TO THE SURVEY',
    }

    var participant_id = {
      type: 'instructions',
      pages: ['To keep your data anonymous, we are assigning everyone an anonymous ID. Yours is <br><b>' + trial_id +'</b><br>'+
      'You may wish to make a note of this if, for example, you wish to ask us to discard your data.']
    }

    var social_network_trial = {
      type: 'table-completion',
      add_new: true,
      column_headers: ['First names. Add new rows with "+"', 'face to face', 'video chat', 'phone', 'email', 'text message', 'other'],
      column_icons: true,
      preamble: "Please write down the first names of all the people with whom you had a conversation in the PAST 7 DAYS and how you interacted with them. Select all that apply.",
      instructions: "Please do not include casual contacts, such as interactions with shop workers or professionals (e.g., doctors, police, etc.).",
      opt_out: "I did NOT have any conversations other than casual contacts in the past 7 days.",
      on_finish: function(data){
        var responses = JSON.parse(data.responses)
        Object.keys(responses).forEach(function(id){
          if(responses[id].name){
            social_network.push({id: id, row_name: responses[id].name});
          }
        })
      }
    }

    var close_network_trial = {
      type: 'table-completion',
      add_new: false,
      column_headers: ['Name', 'I would turn to this person for comfort/advice', 'I would NOT turn to this person for comfort/advice'],
      column_vars: ['name', 'yes', 'no'],
      column_icons: false,
      preamble: 'Would you turn to these people if you wanted to seek advice or comfort if you had a major personal problem?',
      row_values: function(){
        return social_network;
      },
      on_finish: function(data){
        var responses = JSON.parse(data.responses)
        Object.keys(responses).forEach(function(id){
          if(responses[id].choices.indexOf('yes')!=-1){
            console.log('here')
            close_network.push({id: id, row_name: responses[id].name});
          }
        })
        console.log('--->', close_network)
      }
    }

    var close_network_if = {
      timeline: [close_network_trial],
      conditional_function: function(){
        if(social_network.length>0){
          return true;
        } else {
          return false;
        }
      }
    }

    var close_network_followup = {
      type: 'table-completion',
      add_new: false,
      column_headers: ['Names', 'Lives in the same household as me', 'Lives in the same country as me'],
      column_vars: ['names', 'household', 'country'],
      column_icons: false,
      preamble: 'Does this person live in the same household or same country as you?',
      dependencies: 'household>country',
      row_values: function(){
        return close_network;
      },
    }

    var close_network_followup_if = {
      timeline: [close_network_followup],
      conditional_function: function(){
        if(close_network.length>0){
          return true;
        } else {
          return false;
        }
      }
    }

    function socialNetworkCue(){
      var cue_string = 'Now, think about the actions and beliefs of most PEOPLE IN YOUR CLOSE NETWORK (> 80%) IN THE PAST 7 DAYS. Consider how this advice was implemented where THEY currently are. Please try to answer as accurately as you can. ';
      if(close_network.length>0){
        cue_string += 'Remember, the people in your close network are: ';
        close_network.forEach(function(d, i){
          if(i>0){
            cue_string += ', '
          }
          cue_string += d.row_name;
        })
        cue_string += '. '
      }
      cue_string += '<br><br>'
      cue_string += 'Most people in my close network have been following this general advice where they live'
      return cue_string;
    }

    var compliance = {
      type: 'custom-form',
      preamble: 'The general advice for the coronavirus disease (COVID-19) is to keep physical distance from others.',
      highlight: 'group',
      questions: function(){
        var social_network_cue = socialNetworkCue()
        var compliance_cats = ['close_network', 'country', 'world'];
        var compliance_cats_shuffled = jsPsych.randomization.shuffle(compliance_cats);
        var compliance_questions = [
          {type: 'slider',
          cue: 'First, think about YOUR OWN actions and beliefs IN THE PAST 7 DAYS. Consider how this advice was implemented where you currently are.'+
          '<br><br>'+
          'I have been following this general advice where I live',
          id: 'comply-self',
          labels: advice_labels,
          is_start: true,
          group: 0},
          {type: 'slider',
          cue: 'I think that it is wrong not to follow this general advice',
          id: 'ethics-self',
          labels: morality_labels,
          group: 0},
        ]
        compliance_cats_shuffled.forEach(function(category, i){
          if(category=='close_network'){
            compliance_questions.push({type: 'slider',
                cue: social_network_cue,
                id: 'comply-social',
                labels: advice_labels,
                is_start: true,
                group: i+1})
            compliance_questions.push({type: 'slider',
                cue: 'Most people in my close network think that it is wrong not to follow this general advice',
                id: 'ethics-social',
                labels: morality_labels,
                group: i+1})
          }
          if(category=='country'){
            compliance_questions.push({type: 'slider',
                cue: 'Now, think about the actions and beliefs of most PEOPLE IN YOUR COUNTRY (> 80%) IN THE PAST 7 DAYS. Consider how this advice was implemented where THEY currently are. Please try to answer as accurately as you can.'+
                '<br><br>'+
                'Most people in my country have been following this general advice.',
                id: 'comply-country',
                labels: advice_labels,
                is_start: true,
                group: i+1})
            compliance_questions.push({type: 'slider',
              cue: 'Most people in my country think that it is wrong not to follow this general advice.',
              id: 'ethics-country',
              labels: morality_labels,
              group: i+1})
          }
          if(category=='world'){
            compliance_questions.push({type: 'slider',
              cue: 'Now, think about the actions and beliefs of most PEOPLE ALL AROUND THE WORLD (> 80%)  IN THE PAST 7 DAYS. Consider how this advice was implemented where THEY currently are. Please try to answer as accurately as you can.'+
              '<br><br>'+
              'Most people all around the world have been following this general advice.',
              id: 'comply-world',
              labels: advice_labels,
              is_start: true,
              group: i+1})
            compliance_questions.push({type: 'slider',
              cue: 'Most people all around the world think that it is wrong not to follow this general advice.',
              id: 'ethics-world',
              labels: morality_labels,
              group: i+1})
          }
        })
        return compliance_questions;
      },
    }

    var vulnerable1 = {
      type: 'custom-form',
      preamble: 'In your opinion, how vulnerable are the following people to the coronavirus disease?',
      questions: [
        {type: 'slider',
        cue: 'Myself',
        id: 'vulnerable-self',
        labels: vulnerable_labels},
        {type: 'slider',
        cue: 'Someone I care about in my household',
        id: 'vulnerable-household',
        labels: vulnerable_labels},
        {type: 'slider',
        cue: 'Someone I care about outside of my household',
        id: 'vulnerable-outside',
        labels: vulnerable_labels},
      ]
    }

    var vulnerable2 = {
      type: 'custom-form',
      preamble: 'To the best of your knowledge, have the following people had the coronavirus disease?',
      questions: [
        {type: 'slider',
        cue: 'Myself',
        id: 'infected-self',
        labels: infected_labels},
        {type: 'slider',
        cue: 'Someone I care about in my household.',
        id: 'infected-household',
        labels: infected_labels},
        {type: 'slider',
        cue: 'Someone I care about outside of my household',
        id: 'infected-outside',
        labels: infected_labels},
      ]
    }

    var wembs_items = ['I’ve been feeling optimistic about the future.',
    'I’ve been feeling useful.',
    'I’ve been feeling relaxed.',
    'I’ve been dealing with problems well.',
    'I’ve been thinking clearly.',
    'I’ve been feeling close to other people.',
    'I’ve been able to make up my own mind about things.',
    'I’ve been feeling depressed.',
    'I’ve been feeling anxious.',
    'I’ve been feeling angry.',
    'I’ve been feeling lonely.']

    var wembs_questions = _.map(wembs_items, function(d,i){
      return {
        id: 'wembs_'+i,
        row_name: d,
      }
    })

    var wembs = {
      type: 'table-completion',
      preamble: 'Please tell us how you\'ve been feeling and thinking OVER THE LAST WEEK.',
      column_headers: wembs_labels,
      row_values: wembs_questions,
      highlighting: 'row',
    }

    var corona_attitudes = {
      type: 'custom-form',
      preamble: ' Please answer the below questions in the context of the coronavirus (COVID-19) outbreak.',
      questions: [{
        type: 'slider',
        cue: 'At times like this, it is essential that people work in solidarity to look after each other',
        id: 'solidarity',
        labels: agree_labels,
        is_start: true},
        {type: 'slider',
        cue: 'I believe that my actions are having a positive impact',
        labels: agree_labels,
        id: 'impact',
        is_start: true},
        {type: 'slider',
        cue: 'Every individual is responsible for themselves if they want to avoid the adverse effects of the disease',
        labels: agree_labels,
        id: 'responsible',
        is_start: true},
        {type: 'slider',
        cue: 'Things are improving due to the collective efforts made where I live',
        id: 'improving',
        labels: agree_labels,
        is_start: true},
        {type: 'slider',
        cue: 'In the PAST 7 DAYS, how much have you been going out?',
        id: 'solidarity',
        labels: ['Much less than usual', 'About the same as usual', 'Much more than usual'],
        is_start: true}
      ]
    }

    var circle_distances = [1.1, 0.84, 0.66, 0.5, 0];
    function generateCircles(distances, label1, label2){
      var width = 120;
      var height = 120;
      var base_1 = width/3;
      var base_2 = 2*width/3;
      var base_distance = width/3;
      var circle_ratio = 0.4;
      var options = []
      distances.forEach(function(distance,i){
        var position_1 = base_1 + base_distance*(1-distance)/2
        var position_2 = base_2 - base_distance*(1-distance)/2
        var text_1_y = 5;
        var text_2_y = height-5;
        options.push('<div style="height:'+height+'px; width:'+width+'px"><svg>'+
        '<text x="'+position_1+'", y="'+text_1_y+'" dominant-baseline="hanging" text-anchor="middle" fill="blue" font-size="14">'+label1+'</text>'+
        '<text x="'+position_2+'", y="'+text_2_y+'" dominant-baseline="baseline" text-anchor="middle" fill="red" font-size="14">'+label2+'</text>'+
        '<circle cx="'+position_1+'" cy="'+height/2+'" r="'+base_distance*circle_ratio+'" fill="blue" fill-opacity="0.4"/>'+
        '<circle cx="'+position_2+'" cy="'+height/2+'" r="'+base_distance*(1-circle_ratio)+'" fill="red" fill-opacity="0.4"/>'+
        '</svg></div>')
      })
      return options;
    }

    var ios_string_country = generateCircles(circle_distances, 'You', 'Your country');
    var ios_string_gvmt = generateCircles(circle_distances, 'You', 'Your government');

    var general_attitudes1 = {
      type: 'custom-form',
      preamble: 'Please answer the below questions based on how you think and feel GENERALLY.',
      questions: [
        {type: 'slider',
        cue: 'People trust scientists a lot more than they should.',
        id: 'cred_sci_1',
        labels: agree_labels,
        is_start: true},
        {type: 'slider',
        cue: 'A lot of scientific theories are dead wrong.',
        id: 'cred_sci_2',
        labels: agree_labels},
        {type: 'slider',
        cue: 'Our society places too much emphasis on science.',
        id: 'cred_sci_3',
        labels: agree_labels},
      ]
    }

    var general_attitudes2 = {
      type: 'custom-form',
      preamble: 'Please answer the below questions based on how you think and feel GENERALLY.',
      instructions: 'If you feel that answering the following questions may compromise your privacy, please feel free to choose the "prefer not to answer" option.',
      highlight: 'group',
      questions: [
        {type: 'checkbox',
        cue: 'How close or distant do you feel to the COUNTRY YOU ARE CURRENTLY LIVING IN? Choose one of the 5 options below.',
        id: 'ios-country-optout',
        options: ['Prefer not to answer'],
        is_start: true,
        group: 0},
        {type: 'multiple',
        id: 'ios-country',
        options: ios_string_country,
        values: [0, 1, 2, 3, 4],
        group: 0},
        {type: 'checkbox',
        cue: 'How close or distant do you feel to the GOVERNMENT OF THE COUNTRY YOU ARE CURRENTLY LIVING IN? Choose one of the 5 options below.',
        id: 'ios-gvmt-optout',
        options: ['Prefer not to answer'],
        is_start: true,
        group: 1},
        {type: 'multiple',
        id: 'ios-gvmt',
        options: ios_string_gvmt,
        values: [0, 1, 2, 3, 4],
        end_line: true,
        group: 1},
        {type: 'slider',
        id: 'ideology',
        cue: 'What is your political self-identification?',
        labels: ['Very liberal', 'Very conservative'],
        is_start: true,
        group: 2},
        {type: 'checkbox',
        id: 'ideology-optout',
        options: ['Does not apply to my political views', 'Prefer not to say'],
        values: ['NA', 'None'],
        group: 2}
      ]
    }

    var vertical_collectivism = {
      type: 'table-completion',
      highlighting: 'row',
      preamble: 'Please answer the below questions based on how you think and feel GENERALLY.',
      column_headers: vertical_collectivism_labels,
      column_vars: ['', 0, 1, 2, 3, 4, 5, 6, 7, 8],
      row_values: [
        {
            id: 'vert-conf-1',
            row_name: 'I would sacrifice an activity that I enjoy very much if my family did not approve of it'},
        {
            id: 'vert-conf-2',
            row_name: 'I would do what would please my family, even if I detested that activity',
        },
        {
            id: 'vert-conf-3',
            row_name: 'Before taking a major trip, I consult with most members of my family and many friends',
        },
        {
            id: 'vert-conf-4',
            row_name: 'I usually sacrifice my self-interest for the benefit of my group',
        },
        {
          id: 'vert-conf-5',
          row_name: 'Children should be taught to place duty before pleasure',
        },
        {
          id: 'vert-conf-6',
          row_name: 'I hate to disagree with others in my group',
        },
        {
          id: 'vert-conf-7',
          row_name: 'We should keep our aging parents with us at home',
        },
        {
          id: 'vert-conf-8',
          row_name: 'Children should feel honoured if their parents receive a distinguished award',
        },
      ]
    }

    var eq_items = ['I am good at predicting how someone will feel.',
    'I am quick to spot when someone in a group is feeling awkward or uncomfortable.',
    'I can sense if I am intruding, even if the other person doesn\'t tell me.',
    'I can tune into how someone else feels rapidly and intuitively.',
    'I can easily work out what another person might want to talk about.',
    'I find it difficult to explain to others things that I understand easily, when they don\'t understand it first time.',
    'I find it hard to know what to do in a social situation.',
    'Friendships and relationships are just too difficult, so I tend not to bother with them.',
    'I often find it difficult to judge if something is rude or polite.',
    'I don’t tend to find social situations confusing.',
    'I really enjoy caring for other people.',
    'If I say something that someone else is offended by, I think that that\'s their problem, not mine.',
    'Seeing people cry doesn\'t really upset me.',
    'I usually stay emotionally detached when watching a film.',
    'I tend to get emotionally involved with a friend\'s problems.'];

    var eq_rows = _.map(eq_items, function(d, i){
      return {id: 'eq_'+i, row_name: d}
    })

    var eq = {
      type: 'table-completion',
      highlighting: 'row',
      row_values: eq_rows,
      column_headers: agree_likert,
      column_vars: ['', 0, 1, 2, 3],
      preamble: 'How strongly do you agree or disagree with the following statements? There are no right or wrong answers, or trick questions.'
    }

    var demographics = {
      type: 'demographics',
    }

    var occupation = {
      type: 'occupation'
    }

    var email = {
      type: 'survey-text',
      questions: [{
        prompt: 'We want to learn about how people\'s attitudes around the Coronavirus change over time. If you would like to help us do that, we will send you a link to a MUCH SHORTER version of this survey in 2 weeks. Note that we will NOT use your email address for any other correspondences, and will not share it with any third parties. Your email address will be deleted from our database immediately after study completion.',
        placeholder: 'Email',
        name: 'email'
      }]
    } // try separate instructions before/after "note"

    /*
    Add trials to the timeline
    */

    // timeline.push(information)
    timeline.push(consent)
    timeline.push(participant_id);

    timeline.push(social_network_trial);
    timeline.push(close_network_if);
    timeline.push(close_network_followup_if);

    timeline.push(compliance);

    timeline.push(vulnerable1);
    timeline.push(vulnerable2);
    timeline.push(wembs);

    timeline.push(corona_attitudes);
    timeline.push(general_attitudes1);
    timeline.push(general_attitudes2);

    timeline.push(vertical_collectivism);
    timeline.push(eq);
    timeline.push(demographics);
    timeline.push(occupation);
    timeline.push(email);


    /*
    Have jsPsych display the experiment timeline
    */

    jsPsych.init({
        // uncomment if you need to preload anything that isn't a stim in an existing jspsych plugin
        // preload_images: [],
        default_iti: 500,
        show_progress_bar: true,
        // exclusions: {
        //   min_width: 800,
        //   min_height: 500
        // },
        experiment_width: 800,
        timeline: timeline,
        on_finish: function(){
          console.log('Experiment completed...')
          var data = helper.prepareData(experiment_start_time);
          helper.save(data, dataUrl, trial_id);
        }
    });

    </script>
</html>
