<!DOCTYPE html>
<html lang="en">
  <head><title>Completed</title>
    <style>body {margin-left: 50px; margin-top: 80px; width: 800px}</style>
  </head>
  <body>
    <div style="position:relative;height:100px"><img src="img/UoN_Primary_Logo_RGB.png" style="width:200px;position:absolute;right:10px"></div>
    <p>شرکت‌کننده عزیز،</p>
    <p>از این که فرم را تکمیل کردید بسیار سپاسگ‌زاریم. شما هم اکنون مرحله <%= phase %> از این نظرسنجی را پشت سر گذاشتید. ما در هفته آینده لینکی به ادامه نظرسنجی را که بسیار کوتاه‌تر از این مرحله خواهد بود برای شما ارسال خواهیم کرد.</p>
    <p> شرکت شما در مراحل بعدی نظرسنجی در آگاهی از تاثیرات درازمدت ویروس کورونا (COVID-19) در زندگی روزمره انسان‌ها اهمیت بسیاری دارد. </p>
    <p> این نظرسنجی توسط یک گروه بین‌المللی از محققان انجام شده است. می توانید با تیم نظرسنجی تماس بگیرید:<a href="mailto:bahar.tuncgenc@nottingham.ac.uk">bahar.tuncgenc@nottingham.ac.uk</a>. مشارکت کاملاً داوطلبانه است ، و شما می‌توانید در هر نقطه و بدون اعلام دلیل، انصراف دهید. اگر می‌خواهید پاسخ‌های خود را از یک نقطه (زمان) قبلی حذف کنید ، لطفاً در مدت 2 هفته پس از پر کردن آن نظرسنجی‌، با شناسه ورود به سیستم به ما ایمیل بزنید. </p>
    <p><b>آیدی شما <%= completionCode %>.</b></p>
    <p> در صورت نیاز به کمک درمورد بیماری کروناویروس و یا مشکلات بهداشت روان ، لطفاً به توصیه های سازمان بهداشت جهانی در مورد <a href="https://www.who.int/health-topics/coronavirus#tab=tab_1" target="_blank">Coronavirus</a> و <a href="https://www.who.int/docs/default-source/coronaviruse/mental-health-considerations.pdf?sfvrsn=6d3578af_2" target="_blank">mental health</a>و مسئولان بهداشتی کشور خودتان </p>
<p> اگر درمورد این مطالعه شکایتی دارید، لطفاً با: استفان جکسون (رئیس کمیته اخلاق) تماس بگیرید  <a
 href="mailto:stephen.jackson@nottingham.ac.uk">stephen.jackson@nottingham.ac.uk</a>.</p>
    <p>سپاس‌گزارم!</p>
  </body>
</html>
