<div id="consent" style="font-size:16px;margin-top:30px;text-align:left">
<div style="position:relative;height:100px"><img src="img/UoN_Primary_Logo_RGB.png" style="width:200px;position:absolute;right:10px"></div>
<h2>ارتباطات اجتماعی و فاصله گذاری در مواجهه با کوید-19</h2>
<div class="scrollable">
<p>
  این دعوتی است برای شرکت در یک مطالعه تحقیقاتی در مورد تغییرات رفتاری تأثیرگذار بر زندگی روزمره ما در رابطه با شیوع سریع ویروس برای تصمیم‌گیری در مورد شرکت کردن، لطفاً اطلاعات زیر را با دقت بخوانید
  </p>
  <p><b>
  شماره تاییدیه اخلاقی:</b> F1248R
  </p>
<p><b>
  محققان :</b>دکتر بهار تونچگنچ (دانشگاه ناتینگهام)، پروفسور اوفلیا دیروی  (دانشگاه لودویگ ماکسیمیلیان مونیخ)، دکتر گیلام دزکاچ (دانشگاه کلرمونت اوورگن)، دکتر ماروا ال زین (دانشگاه کالج لندن)، دکتر یی ژائو (دانشگاه ایندیانا)</p>
<p><b>
  جزییات ارتباط:
  </b>bahar.tuncgenc@nottingham.ac.uk
  </p>
<p><b>
  هدف از این مطالعه چیست؟
  </b></p>
<p>
  این مطالعه به بررسی چگونگی واکنش افراد به تغییراتی که در اثر شیوع سریع ویروس در رفتارها و برنامه‌های روزمره زندگی آن‌ها روی می‌دهد، می‌پردازد ما به طورمشخص بر روی عوامل اجتماعی، شناختی، و فرهنگی تمرکز داریم که درگیر شدن افراد در تمرین حفظ فاصلهی فیزیکی از دیگران را تحت تاثیر قرار میدهد ما بررسی خواهیم کرد که چگونه واکنش مردم به این عمل با گذشت زمان و در فرهنگ‌های مختلف تغییر می‌کند
  </p>
<p><b>
  چه اتفاقی می‌افتد اگر با شرکت در این مطالعه موافقت کنم؟
  </b></p>
<p>
  شما درمورد تجربه خود در مورد شیوع سریع ویروس کرونا و اقدام به رعایت فاصله فیزیکی از دیگران به برخی سؤالات پاسخ خواهید داد برخی سؤال‌ها در مورد این است كه شما چقدر خود را در برابرابتلا به كرونا آسیب‌پذیرمی‌دانید و آیا کسی از عزیزانتان به آن مبتلا شده است یا نه همچنین در مورد تعاملات اجتماعی، خلق و خو و وضعیت سلامتی شما سؤال خواهیم کرد برای اینکه بتوانیم نحوه تغییر پاسخ افراد در طول زمان را مشاهده کنیم، از شما می‌خواهیم که نظرسنجی را در 6 نقطه زمانی که دو هفته از یکدیگر فاصله دارند، پر کنید اولین نظرسنجی طولانی‌تر از دیگر نظرسنجی‌هاست و 10 دقیقه طول می‌کشد. بررسی‌های دیگر تقریباً به اندازه نیمی از این زمان طول خواهند کشید
  </p>
<p>
  لطفاً توجه داشته باشید که لازم است شما بررسی را بصورت یکجا انجام دهید‌، اما می‌توانید در زمان انجام آن استراحت کنید - اگر نظرسنجی را ترک کنید و مایل به ادامه آن در آینده باشید، از ابتدا باید آن را پر کنید برای نظرسنجی‌های بعدی ایمیل‌هایی برای یادآوری مجدد برای شما ارسال خواهیم کرد
  </p>
<p><b>
  آیا هیچ خطر یا منفعتی برای شرکت در نظرسنجی وجود دارد؟
  </b></p>
<p>
  ما پیش‌بینی نمی کنیم مشارکت عواقب منفی فراتر از خطرات موجود در زندگی عادی یا خطراتی که در زمان مطالعه در مورد ویروس کورونا در اینترنت یا اخبار شما را تهدید می‌کند، داشته باشد ممکن است برخی از سؤالات مربوط به شیوع سریع، شما را ناراحت کند هر جا احساس ناراحتی کردید، ی‌توانید بدون هیچ ارائه دلیل پاسخ به آن سوال را متوقف کنید (به سوال بعدی مراجعه کنید)
  </p>
<p>
  در صورت نیاز به کمک درمورد بیماری کروناویروس و یا مشکلات بهداشت روان، لطفاً به توصیه‌های سازمان بهداشت جهانی مراجعه کنید
  <a href="https://www.who.int/health-topics/coronavirus#tab=tab_1" target="_blank">
    ویروس کرونا
  </a>
  و
  <a href="https://www.who.int/docs/default-source/coronaviruse/mental-health-considerations.pdf?sfvrsn=6d3578af_2" target="_blank">
    سلامت روان
  </a>.
<p>
  مشارکت فواید شخصی فوری برای شما ندارد، اما به دانشمندان کمک خواهید کرد که درک کنند چگونه بیماری همه گیر ویروس کورونا بر زندگی افراد تأثیر می گذارد
  </p>
<p><b>
  آیا مجبورم که شرکت کنم؟
  </b></p>
<p>
  شرکت در این مطالعه کاملاً داوطلبانه است و شما هیچگونه اجباری برای شرکت در این امر ندارید اگر متوجه شده‌اید که تاثیر بیماری همه گیر ویروس کورونا  بسیار استرس زا بوده و باعث اضطراب یا پریشانی می‌شود، ممکن است مایل به شرکت در این نظرسنجی نباشید همچنین ممکن است با انتخاب گزینه "ترجیح می‌دهم که جواب ندهم" از پاسخ به بعضی سوال‌ها صرفنظر کنید
  </p>
<p>
  شما می‌توانید در هر لحظه قبل یا در طول نظرسنجی، از شرکت در آن صرفنظر کنید اگر می‌خواهید پس از شروع نظرسنجی، دیگر ادامه ندهید، پنجره مرورگر خود را ببندید و تمام داده‌های شما به طور خودکار پاک می‌شوند اگر می‌خواهید در آینده هم شرکت نکنید، تنها کافی است آن نظرسنجی‌ها را انجام ندهید اگر می‌خواهید پاسخ‌های خود را از یک نقطه (زمان) قبلی حذف کنید، لطفاً در مدت 2 هفته پس از پر کردن آن نظرسنجی، با شناسه ورود به سیستم به ما ایمیل بزنید
  </p>
<p><b>
  برای نتایج مطالعه چه اتفاق می‌افتد؟
  </b></p>
<p>
  این یافته‌ها در کنفرانس‌ها و نشریات علمی ارائه می‌شود و هدف آن است تا تصمیم گیری‌های مربوط به سیاست‌گذاری کلان را تحت تاثیر قرار بدهد همه گزارش‌ها فقط یافته‌های تجزیه و تحلیل سطح گروهی را شامل می‌شوند شما در هیچ گزارش یا انتشارات بعدی قابل شناسایی نیستید ما تمامی داده‌ها را در مراکز امن دانشگاهی محافظت می‌کنیم و از رمز عبور مطابق با آیین نامه‌های عمومی حفاظت از داده‌ها  استفاده خواهیم کرد. شما می‌توانید با مسئول حفاظت از داده‌های دانشگاه ناتینگهام در مورد جزئیات مربوط به حقوق خود نسبت به داده‌های مربوط به شما تماس بگیرید
   <a href="https://www.nottingham.ac.uk/utilities/privacy/privacy.aspx" target="_blank">https://www.nottingham.ac.uk/utilities/privacy/privacy.aspx </a>
  و به عنوان یک شرکت‌کننده آنلاین در این تحقیق، ما موظفیم که شما را آگاه سازیم که اگرچه ما تمام اقدامات را برای حفظ اطلاعات محرمانه انجام داده‌ایم، اما همیشه احتمال حمله از سوی عوامل خارجی، به عنوان مثال از طریق هک، وجود دارد و بنابراین این احتمال وجود دارد که شناسایی شوید
  </p>
<p><b>
  بعد از شرکت در نظرسنجی باید چه کار کنم؟
  </b></p>
<p>
  اگر قبول دارید که شرکت کنید، دکمه "ادامه به مطالعه" را در زیر فشار داده و فرم رضایت را پر کنید اگر سؤال یا نگرانی دارید، دریغ نکنید و از ما بپرسید. ما همچنین می‌توانیم پس از شرکت در آدرس فوق با شما تماس بگیریم
  </p>
<p> اگر درمورد این مطالعه شکایتی دارید، لطفاً با استفان جکسون (رئیس کمیته اخلاق) تماس بگیرید
  stephen.jackson@nottingham.ac.uk </p>
<div id="more-fadeout"><div id="more-button-container"><button id="more-button" onclick="moreText()">&mdash; &#8744; &mdash;</button></div></div>
</div>
<button type="button" id='submit' style="margin-bottom: 20px">ادامه</button>
</div>
