<!DOCTYPE html>
<html lang="en">
  <head><title>Completed</title>
    <style>body {margin-left: 50px; margin-top: 80px; width: 800px}</style>
  </head>
  <body>
    <p>Dear participant,</p>
    <p>Thank you very much for completing this survey. You have now completed Phase <%= phase %> of the study. If you left us your email address, we will send you a reminder email next week with the link to the new survey for the next part of the study.</p>
    <p>Using the data from multiple time points and countries, we will conduct analyses to see how a variety of social, cognitive and cultural factors predict individuals’ commitment to the collective action of keep physical distance from others (also called “social distancing”).
      In stressful and threatening times like this, people have a tendency to seek further social connection. Yet, the “social distancing” measure meant that many people had to cut down on their social interactions. We are therefore interested to see how taking this measure influenced people’s well-being and social connections.</p>
    <p>Please note that if you wish, you are free to withdraw your responses from a previous time point(s). If that is the case, please email us on <a href="mailto:bahar.tuncgenc@nottingham.ac.uk?subject=participant <%= completionCode %>">bahar.tuncgenc@nottingham.ac.uk</a> with your login ID and we will delete your data from all records.</p>
    <p><b>Your login ID is <%= completionCode %>.</b></p>
    <p>This research is conducted by a group of researchers led by Dr Bahar Tuncgenc at the University of Nottingham. If you have any questions about the study, please contact us on: <a href="mailto:bahar.tuncgenc@nottingham.ac.uk">bahar.tuncgenc@nottingham.ac.uk</a>.</p>
    <p>If you have any complaints about the study, please contact: Stephen Jackson (Chair of Ethics Committee), <a href="mailto:stephen.jackson@nottingham.ac.uk">stephen.jackson@nottingham.ac.uk</a>.</p>
    <p>If you need advice about what to do about the coronavirus and its adverse effects, please check the web pages of the World Health Organization and the health authorities in your country (<a href="https://www.who.int/health-topics/coronavirus#tab=tab_1">WHO coronavirus page</a>, <a href="https://www.who.int/mental_health/en/">WHO mental health page</a>)</p>
    <iframe src="https://giphy.com/embed/VbnUQpnihPSIgIXuZv" width="192" height="240" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/computer-cat-wearing-glasses-VbnUQpnihPSIgIXuZv"></a></p>

  </body>
</html>
