<!DOCTYPE html>
<html lang="en">
  <head><title>Completed</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body style="margin: 30px">
    <div style="position:relative;height:100px"><img src="img/UoN_Primary_Logo_RGB.png" style="width:200px;position:absolute;right:10px"></div>
    <p>प्रिय प्रतिभागी,</p>
    <p>इस सर्वेक्षण को पूरा करने के लिए आपका बहुत-बहुत धन्यवाद। आपने अब अध्ययन का चरण <%= चरण%> पूरा कर लिया है। हम आपको अध्ययन के अगले भाग के लिए नए सर्वेक्षण के लिंक के साथ 2 सप्ताह में एक अनुस्मारक ईमेल भेजेंगे। इसके बाद के सर्वेक्षण पहले वाले की तुलना में बहुत छोटे होंगे।</p>
    <p>लोगों के रोजमर्रा के जीवन पर कोरोनावायरस (कोविड-19) बीमारी के दीर्घकालिक प्रभावों के बारे में जानने के लिए, अध्ययन के अगले चरणों में आपकी भागीदारी हमारे लिए बहुत महत्वपूर्ण है।</p>
    <p>यह शोध शोधकर्ताओं के एक अंतरराष्ट्रीय समूह द्वारा किया जाता है। आप अध्ययन दल से संपर्क कर सकते हैं: <a href="mailto:bahar.tuncgenc@nottingham.ac.uk">bahar.tuncgenc@nottingham.ac.uk</a>. भागीदारी पूरी तरह से स्वैच्छिक है, और आप बिना कारण बताए किसी भी समय इसे छोड़ने के लिए स्वतंत्र हैं। यदि आप पिछली बार के बिंदुओं से अपनी प्रतिक्रिया वापस लेना चाहते हैं, तो कृपया उस सर्वेक्षण को भरने के 2 सप्ताह के भीतर अपनी लॉग इन आईडी से हमें ईमेल करें।</p>
    <p><b>आपकी लॉग इन आई डी है<%= completionCode %>.</b></p>
    <p>क्या आपको कोरोनावायरस बीमारी और / या किसी मानसिक स्वास्थ्य समस्या के बारे में सहायता की आवश्यकता है, कृपया विश्व स्वास्थ्य संगठन की सलाह देखें <a href="https://www.who.int/health-topics/coronavirus#tab=tab_1" target="_blank">कोरोनावाइरस</a> और <a href="https://www.who.int/docs/default-source/coronaviruse/mental-health-considerations.pdf?sfvrsn=6d3578af_2" target="_blank">मानसिक स्वास्थ्य</a>, और आपके देश में स्वास्थ्य अधिकारी। </p>
    <p> यदि आपको अध्ययन के बारे में कोई शिकायत है, तो कृपया संपर्क करें: स्टीफन जैक्सन (नैतिकता समिति के अध्यक्ष) <a href="mailto:stephen.jackson@nottingham.ac.uk">stephen.jackson@nottingham.ac.uk</a>.</p>
    <p>धन्यवाद!</p>
    <img style="width:320px" src="img/thankyou/thankyou_en.png"></img>
  </body>
</html>
