<!DOCTYPE html>
<html lang="en">
  <head><title>Completed</title>
    <style>body {margin-left: 50px; margin-top: 80px; width: 800px}</style>
  </head>
  <body>
    <div style="position:relative;height:100px"><img src="img/UoN_Primary_Logo_RGB.png" style="width:200px;position:absolute;right:10px"></div>
    <p>Caro partecipante,</p>
    <p>Grazie mille per aver completato questo sondaggio. Adesso hai completato la Fase <%= phase %> dello studio. Ti invieremo una email di promemoria tra 2 settimane con il link al nuovo sondaggio per la parte successiva dello studio. Il prossimo sondaggio sarà molto più breve del primo.</p>
    <p>Per conoscere gli effetti a lungo termine del coronavirus (COVID-19) sulla vita quotidiana delle persone, la tua partecipazione alle prossime fasi dello studio è molto importante per noi.</p>
    <p>Questa ricerca è condotta da un gruppo internazionale di ricercatori. Puoi contattare il team responsabile dello studio a: <a href="mailto:bahar.tuncgenc@nottingham.ac.uk">bahar.tuncgenc@nottingham.ac.uk</a>. La partecipazione è completamente volontaria e sei libero di ritirarti in qualsiasi momento senza doverne dichiarare il motivo. Se desideri ritirare le tue risposte relative a un sondaggio precedente, ti invitiamo ad inviarci una email con il tuo ID di accesso entro 2 settimane dalla compilazione del sondaggio.</p>
    <p><b>Il tuo ID di accesso <%= completionCode %>.</b></p>
    <p> Qualora avessi bisogno di assistenza sul COVID-19 e/o su eventuali problemi di salute mentale, consulta i consigli dell'Organizzazione Mondiale della Sanità su <a href="https://www.who.int/health-topics/coronavirus#tab=tab_1" target="_blank">Coronavirus</a> e <a href="https://www.who.int/docs/default-source/coronaviruse/mental-health-considerations.pdf?sfvrsn=6d3578af_2" target="_blank">mental health</a>, e le autorità sanitarie del tuo paese. </p>
    <p> Per qualsiasi reclamo in merito allo studio, contatta: Stephen Jackson (Presidente del Comitato Etico), <a href="mailto:stephen.jackson@nottingham.ac.uk">stephen.jackson@nottingham.ac.uk</a>.</p>
    <p>GRAZIE!</p>
  </body>
</html>
