<!DOCTYPE html>
 <html lang="en">
   <head><title>Distancing study</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body style="margin: 30px">
    <div style="position:relative;height:100px"><img src="img/UoN_Primary_Logo_RGB.png" style="width:200px;position:absolute;right:10px"></div>
    <p>Thank you very much for your interest in the distancing study. Data collection for the first phase of this study has been completed, so we are not recruiting any <b>new</b> participants.</p>
    <p>If you are a <b>returning</b> participant and have received a link to participate in subsequent phases, please use that link to access the survey.</p>
    <p>For any questions about the study, you can contact Bahar Tuncgenc at <a href="mailto:bahar.tuncgenc@nottingham.ac.uk">bahar.tuncgenc@nottingham.ac.uk</a>.</p>
   </body>
 </html>
