<!DOCTYPE html>
<html lang="sv">
<head><title>Completed</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="margin: 30px">
<div style="position:relative;height:100px"><img src="img/UoN_Primary_Logo_RGB.png" style="width:200px;position:absolute;right:10px"></div>
    <p>Kära deltagare,</p>
    <p>Stort tack för att du har besvarat denna enkät. Du har nu slutfört fas <%= phase %> av studien. Vi kommer att skicka ett påminnelsemail om två veckor med länken till den nya enkäten till nästa del av studien. Uppföljningsenkäten kommer att vara MYCKET KORTARE än den första.</p>
    <p>För att få kunskap om långtidseffekterna av coronavirussjukdomen (COVID-19) i människors vardag, är ditt deltagande i studiens kommande faser mycket betydelsefullt för oss.</p>
    <p>Denna forskning bedrivs av en internationell grupp forskare. Du kan kontakta forskningsteamet på: <a href="mailto:bahar.tuncgenc@nottingham.ac.uk">bahar.tuncgenc@nottingham.ac.uk</a>. Deltagande är helt frivilligt, och du är fri att dra dig ur när som helst utan att ange någon anledning. Om du vill dra tillbaka dina svar från en eller flera tidigare enkäter, skicka ett e-postmeddelande till oss med ditt inloggnings-ID inom två veckor efter att du har fyllt i enkäten i fråga.</p>
    <p><b>Ditt inloggnings-ID är <%= completionCode %>.</b></p>
    <p> Om du har frågor eller funderingar kring coronavirussjukdomen och / eller några psykiska hälsoproblem, vänligen ta del av Världshälsoorganisationens råd om <a href="https://www.who.int/health-topics/coronavirus#tab=tab_1" target="_blank">Coronavirus</a> och <a href="https://www.who.int/docs/default-source/coronaviruse/mental-health-considerations.pdf?sfvrsn=6d3578af_2" target="_blank">mental health</a>, och aktuella råd från hälsomyndigheterna i ditt land. </p>
    <p> Om du har några klagomål på studien, vänligen kontakta: Stephen Jackson (ordförande för etikkommittén), <a href="mailto:stephen.jackson@nottingham.ac.uk">stephen.jackson@nottingham.ac.uk</a>.</p>
    <p>TACK!</p>
    <img style="width:320px" src="img/thankyou/thankyou_en.png"></img>
  </body>
</html>
