<!DOCTYPE html>
<html lang="en">
  <head><title>Completed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body style="margin: 30px">
   <div style="position:relative;height:100px"><img src="img/UoN_Primary_Logo_RGB.png" style="width:200px;position:absolute;right:10px"></div>
    <p> Değerli katılımcı,</p>
    <p> Bu anketi doldurduğunuz için çok teşekkür ederiz. Şimdi çalışmanın  <%= phase %> aşamasını tamamladınız. Çalışmanın bir sonraki bölümü için yeni anketin bağlantısını 2 hafta içinde size bir hatırlatma e-postası ile göndereceğiz. Takip anketi, birincisinden ÇOK DAHA KISA olacaktır.</p>
    <p> Koronavirüs (COVID-19) hastalığının insanların günlük yaşamları üzerindeki uzun vadeli etkileri hakkında bilgi edinmek için, çalışmanın sonraki aşamalarına katılımınız bizim için çok önemlidir.</p>
    <p> Bu araştırma uluslararası bir grup araştırmacı tarafından yürütülmektedir. Çalışma ekibiyle şu adresten iletişim kurabilirsiniz: <a href="mailto:bahar.tuncgenc@nottingham.ac.uk">bahar.tuncgenc@nottingham.ac.uk</a>. Katılım tamamen isteğe bağlıdır ve herhangi bir noktada herhangi bir neden belirtmeksizin çıkma hakkınız vardır. Yanıtlarınızı önceki bir zaman noktasından çekmek isterseniz, lütfen ilgili anketi doldurduktan sonra 2 hafta içerisinde giriş numaranız ile birlikte bize e-posta gönderin.</p>
    <p><b>Giriş numaranız: <%= completionCode %>.</b></p>
    <p> Koronavirüs hastalığı ve/veya akıl sağlığı sorunları hakkında yardıma ihtiyacınız olursa, lütfen Dünya Sağlık Örgütü'nün buradaki <a href="https://www.who.int/health-topics/coronavirus#tab=tab_1" target="_blank">Coronavirus</a> ve buradaki <a href="https://www.who.int/docs/default-source/coronaviruse/mental-health-considerations.pdf?sfvrsn=6d3578af_2" target="_blank">mental health</a> tavsiyeleriyle ülkenizdeki sağlık yetkililerinin tavsiyelerine bakın. </p>
    <p> Çalışma hakkında herhangi bir şikayetiniz olursa, lütfen iletişime geçin: Stephen Jackson (Etik Komite Başkanı) stephen.jackson@nottingham.ac.uk</a>.</p>
    <p>TEŞEKKÜRLER!</p>
    <img style="width:320px" src="img/thankyou/thankyou_en.png"></img>
  </body>
</html>
