<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Unsubscribed</title>
  </head>
  <body style="margin: 20px; font-family: Helvetica, Arial, sans-serif">
    <p>Thank you.</p>
    <p>You have been unsubscribed.</p>
  </body>
</html>
