/* You can add your own styling here
 */


#jspsych-content {
  width: 800px;
}

/* .jspsych-survey-multi-choice-text {text-align: left !important;} */

select {
  font-size: 14px;
  margin-left: 10px;
}

h2 {text-align: left;}

.left {text-align: left;}

.flex {display: flex;}

.inline {display: inline-block;}

.indent {margin-left: 24px;}

.hidden {display: none;}

.collapse {display: none;}

thead, tbody {display: block;}

.response {
  display: inline-block;
  margin-left: 10px;
}

.specify {
  display: inline-block;
  color: red;
  margin-left: 10px;
}

.problem {color: red;}

.option.label {font-size: 14px;}

.external-html {
  font-size: 14px;
  text-align: left;
}

.label {
  font-size: 12px;
  line-height: 1.1em;
}

.multiple-option {
  border: 1px solid #c7c7c7;
  padding: 5px 10px;
  border-radius: 5px;
}

.multiple-option:hover {
  background-color: #e6f2ff;
}

.multiple-option.selected {
  background-color: #6ab0fc;
  border: 1px solid #0069db;
}

#submit {
  margin-bottom: 20px;
  padding: 5px 10px;
  border: 1px solid #007ca7;
  background-color: #009bbd;
  border-radius: 3px;
  font-size: 18px;
  color: white;
}

#submit:hover {
  background-color: #007ca7;
  border: 1px solid #005597;
}

.logo {
  width: 250px;
  position: absolute;
  right: 10px;
}

#information {
  width: 100%;
  margin-top: 50px;
}

#information-header {
  height: 100px;
  position: relative;
}

.scrollable {
  height: 100px;
  border: solid 1px grey;
  overflow: scroll;
  margin-bottom: 5px;
  position: relative;
  transition-property: height;
  transition-duration: 1.5s;
  line-height: 1.1em;
}

#more-fadeout {
    position: absolute;
    bottom: 0;
    height: 3em;
    width: 100%;
    background: linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) );
}

#more-button-container {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  text-align:center;
}

#more-button {
  background-color:white;
  padding-left:.5em;
  padding-right:.5em;
  border: 1px solid #009bbd;
  border-radius: 2px;
  color: #009bbd;
  cursor: pointer;
}

.preamble {
  margin: 30px auto 20px auto;
  font-weight: bold;
  text-align: left
}

.instructions {
  font-size: 14px;
  text-align: left;
}

.prompt {
  font-size: 16px;
  padding: 3px 10px 3px 10px;
}

.start {padding-top: 10px;}

.end {padding-bottom: 35px;}

.form-item:not(.start) {padding-top:6px;}

.prompt > p {margin-top: 10px; margin-bottom: 5px;}

.cell.header {
  font-size: 13px;
}

.slider.label {
  font-size: 14px;
  line-height: 1.1em;
}

.form-item {
  text-align: left
}

.followup {
   padding-left: 20%
}

.slider.label.first {
  text-align: left;
}

.slider.label.middle {
  text-align: center;
}

.slider.label.last {
  text-align: right;
}

.options.container {text-align: left}
.option-heading-container {text-align: left}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

  #jspsych-content {
    width: 90vw;
    line-height: 1.5em;
  }

   .external-html {
     font-size: 3vw;
     line-height: 1.5em;
   }

   .logo {width: 40vw;}

   #information {margin-top: 2vw;}

   #information-header {height: 10vh;}

   .scrollable {
     height: 25vh;
     margin-bottom: 1vh;
   }

   .instructions {
     font-size: 3vw;
     line-height: 1.8em;
   }

   .prompt {
     font-size: 4vw;
     padding: 1vw 3vw 1vw 3vw;
     line-height: 1.2em;
   }
   .prompt p:last-child {
     padding-top: 2vh;
   }

   .start {padding-top: 1.5vh;}
   .end {padding-bottom: 5vh;}
   .form-item:not(.start) {padding-top:0.8vh}

   .option.label {
     font-size: 3vw;
     line-height: 1em;
   }

   .opt-out {font-size: 3vw;}

   .multiple.answer {font-size: 3.5vw}

   input[type="text"].answer {
     font-size: 3vw;
     border: 1px solid #007ca7;
   }

   select {
     font-size: 3.5vw;
   }

   .cell.main {
     /* hyphens: auto; */
     word-break: break-word;
   }

   .cell.main >input{
     font-size: 2.4vw;
   }

   .cell.header {
     font-size: 2.5vw;
     line-height: 1.3em;
     /* hyphens: auto; */
     word-break: break-word;
     /* transform: rotate(-90deg); */
   }

   .cell.main:not(.header) {
     line-height: 1.2em;
     font-size: 2.6vw;
   }

   .slider.label {
     font-size: 3vw;
     line-height: 1em;
   }

   tbody {
     max-height: 70vh;
     overflow: auto;
   }

}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
  .cell.header {
    line-height: 1.5em;
  }

}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */

}
