/* You can add your own styling here
 */

#jspsych-content {
  width: 900px;
}

.jspsych-survey-multi-choice-text {
  text-align: left !important;
}

select {
  font-size: 14px;
  margin-left: 10px;
}

h2 {text-align: left}

.left {
  text-align: left;
}

.demographics {
  text-align: left;
  margin-bottom: 10px;
}

.inline {
  display: inline-block;
}

.response {
  display: inline-block;
  margin-left: 10px;
}

.specify {
  display: inline-block;
  color: red;
  margin-left: 10px;
}

.demographics.followup {
  display: inline-block;
  margin-left: 60px;
}

.option.label {
  font-size: 14px;
}

.option-heading-container {
  display: flex;
  justify-content: flex-start;
}

.option-heading {
  padding: 2px 4px;
  font-size: 16px;
  cursor: pointer;
}

.option-heading:hover {
  background-color: #e6f2ff
}

.option-heading.active {
  color: #008000;
  font-weight: 600;
}

.indent {
  margin-left: 24px;
}

.hidden {
  display: none;
}

.collapse {
  display: none;
}

.problem {
  color: red;
}

.preamble {
  margin-bottom: 20px;
  text-align: left;
  font-weight: bold;
}

.instructions {
  font-size: 14px;
  text-align: left;
  margin-bottom: 10px;
}


.label {
  font-size: 12px;
  line-height: 1.1em;
}

/* .end-line {
  border-bottom: 1px solid #c7c7c7;
  padding-bottom: 10px;
} */

.flex {
  display: flex
}

.multiple-option {
  border: 1px solid #c7c7c7;
  padding: 5px 10px;
  border-radius: 5px;
}

.multiple-option:hover {
  background-color: #e6f2ff;
}

.multiple-option.selected {
  background-color: #6ab0fc;
  border: 1px solid #0069db;
}

.disabled {
  color: grey;
}

.disabled~label {
  color: grey;
}

#submit {
  margin-bottom: 20px;
  padding: 5px 10px;
  border: 1px solid #007ca7;
  background-color: #009bbd;
  border-radius: 3px;
  font-size: 18px;
  color: white;
}

#submit:hover {
  background-color: #007ca7;
  border: 1px solid #005597;
}
